<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="utf-8">
        <title>Google App Engine ndb.Model Admin panel live</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css" />
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>